extends layout

block content
  
  .container.contact
      .row(style='margin-top:150px;margin-bottom:100px')
        .col-md-3
          .contact-info
            img(src='https://image.ibb.co/kUASdV/contact-image.png' alt='image')
            h2 Add New Furniture Item
            h6 Furniture Store
        .col-md-9
          form.contact-form(method='post' action='/furniture/edit')
            input(name='id' type='hidden' value=advertisement.id)  
            .form-group
              label.control-label.col-sm-8(for='title') Furniture Name:
              .col-sm-10
                input#title.form-control(type='text' value=advertisement.title placeholder='Enter Name' name='title')
            .form-group
              label.control-label.col-sm-2(for='description') Description:
              .col-sm-10
                input#description.form-control(type='text' value=advertisement.description placeholder='Enter Description' name='description')
            .form-group
              label.control-label.col-sm-2(for='price') Price:
              .col-sm-10
                input#price.form-control(type='text' value=advertisement.price placeholder='Enter Price' name='price')
            .form-group
              .col-sm-offset-2.col-sm-10
                button.btn.btn-primary(type='submit') Add New Item