footer
  .row
    .col-12.col-md
      h5 Rupal Gajjar
      small.d-block.mb-3.text-muted JavaScript Assignment2 Part 1
      small.d-block.mb-3.text-muted &copy; 2019
    .col-6.col-md
      h5 Contact Info
      ul.list-unstyled.text-small
        li
          a.text-muted(href='mailto:rupal@gmail.com') rupal@ymail.com
        li
          a.text-muted(href='mailto:rupal@gmail.com') +1 647 927 9590
    .col-6.col-md
      h5 Address
      ul.list-unstyled.text-small
        li
          p.text-muted 174 Grove Street East, Barrie
          p.text-muted ON
          p.text-muted L4M 2P7

    .col-6.col-md
      h5 Pages
      ul.list-unstyled.text-small
        li
          a.text-muted(href='/') Home
        li
          a.text-muted(href='/about') Furniture
        li
          a.text-muted(href='/projects') Add Furniture
        li
          a.text-muted(href='/services') Sign In
        li
          a.text-muted(href='/contact') Sign Up
