extends layout

block content
    .container
      h1.my-4
        | Furniture List
      .row
        each advertisement in allAdvertisements
          .col-md-5
            h3 #{advertisement.title}
            p #{advertisement.description}
            a.btn.btn-primary $ #{advertisement.price}
            a.btn.btn-info.ml-2(href='/furniture/edit/'+advertisement._id) Edit
            a.btn.btn-danger.ml-2(href='/furniture/delete/'+advertisement._id) Delete