nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
  a.navbar-brand(href='/') Rupal Gajjar
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarsExampleDefault' aria-controls='navbarsExampleDefault' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarsExampleDefault.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='/')
          | Home 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='/furniture') Furniture
      li.nav-item
        a.nav-link(href='/addfurniture') Add Furniture
      li.nav-item
        a.nav-link(href='/signin') Sign In
      li.nav-item
        a.nav-link(href='/signup') Sign Up