extends layout

block content
    //Rupal Gajjar
    //200393408
    //index file displays main view page of portfolio
    main(role='main')
        .jumbotron
            .container
                
                h1.display-3 Furniture Store
               
                p| Extensive description of furniture and able to view 
                
                hr
                img.img-fluid(src='https://29wd5u173elo121l6y3767n2-wpengine.netdna-ssl.com/wp-content/uploads/2019/02/art-van-furniture-stores-10-of-10-1800x700.jpg')
        