extends layout

block content
    //Rupal Gajjar
    //200393408
    //index file displays main view page of furniture store
    main(role='main')
        .jumbotron
            .container
                
                h1.display-3 Furniture Store
               
                p| Built furniture store with detail description of an item, where use can able to view, purchase, add and update details of product
                
                hr
                img.img-fluid(src='https://29wd5u173elo121l6y3767n2-wpengine.netdna-ssl.com/wp-content/uploads/2019/02/art-van-furniture-stores-10-of-10-1800x700.jpg')
        