extends layout

block content
  
  .container.contact
      .row(style='margin-top:150px;margin-bottom:100px')
        .col-md-3
          .contact-info
            img(src='https://image.ibb.co/kUASdV/contact-image.png' alt='image')
            h2 Sign Up
            h4 Furniture Store
        .col-md-9
          form.contact-form(method='post' action='/signup')
            .form-group
              label.control-label.col-sm-2(for='username') Email:
              .col-sm-10
                input#username.form-control(type='email' placeholder='Enter Email' name='username')
            .form-group
              label.control-label.col-sm-2(for='password') Password:
              .col-sm-10
                input#password.form-control(type='password' placeholder='Enter Password' name='password')
            .form-group
              .col-sm-offset-2.col-sm-10
                button.btn.btn-primary(type='submit') Sign up