extends layout

block content
  
  .container.contact
      .row(style='margin-top:150px;margin-bottom:100px')
        .col-md-3
          .contact-info
            img(src='https://image.ibb.co/kUASdV/contact-image.png' alt='image')
            h2 Sign Up
            h4 Furniture Store
        .col-md-9
          .contact-form
            .form-group
              label.control-label.col-sm-2(for='text') Name:
              .col-sm-10
                input#fname.form-control(type='text' placeholder='Enter Name' name='name')
            .form-group
              label.control-label.col-sm-2(for='email') Email:
              .col-sm-10
                input#fname.form-control(type='email' placeholder='Enter Email' name='email')
            .form-group
              label.control-label.col-sm-2(for='password') Password:
              .col-sm-10
                input#email.form-control(type='password' placeholder='Enter Password' name='password')
            .form-group
              .col-sm-offset-2.col-sm-10
                button.btn.btn-primary(type='submit') Sign In