extends layout

block content
  
	.container.py-5
		h1.text-center Contact Address
		hr
		.row
			.col-sm-8
				iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2850.462779151339!2d-79.68671178447778!3d44.40314857910272!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882aa3181a9804cb%3A0x2c4c8bb17a76be79!2s174%20Grove%20St%20E%2C%20Barrie%2C%20ON%20L4M%202P7!5e0!3m2!1sen!2sca!4v1571687847463!5m2!1sen!2sca' width='100%' height='320' frameborder='0' style='border:0' allowfullscreen='')
			#contact2.col-sm-4
				h3 Rupal Gajjar
				hr(align='left' width='50%')
				h4.pt-2 Address
				i.fas.fa-globe(style='color:#000')
				|  174, Grove Street East
				br
				h4.pt-2 Cell Number
				i.fas.fa-phone(style='color:#000')
				a(href='tel:+')  647 927 9590
				br
				h4.pt-2 Email
				i.fa.fa-envelope(style='color:#000')
				a(href='') rupalgajjar@ymail.com
				br